* {
  box-sizing: border-box;
}
     
body, html {
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

/*Nav Bar!*/
ul {
  /*fixes the nav bar in place with photo above*/
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  background-color: #8D6163;
  border-bottom: solid;
  height: 4em;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
  float: right;
  font-family: 'Comfortaa', cursive;
  font-size: 1.25em;
}

/* Change link color on hover */
.nav li a:hover {
  background-color: #E2B4BD;
}


.logo li a:hover {
  background-color: #8D6163;
}

.logo li a { 
  float: left;
  display: inline-block;
  border: none;
  padding: 0.75em 1em;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-size: 1.50em;
 }

.and {
  color:#E2B4BD;
}

body{
  background-color: #FFFFFF;
  font-family: 'Comfortaa', cursive;
}

#container {
  min-height: 100%;
  overflow: auto;
}

.page_name {
  font-size: 2.5em;
  font-family: 'Comfortaa', cursive;
  font-weight: bolder;
  text-align: center;
  padding: 0;
  margin-top: 1.25em;
  margin-bottom: .2em;
  color: #8D6163;


}

#roller_image img{
  width: 8%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/*FIRST NEW SECTION*/
#news_1{
margin-left: auto;
margin-right:auto;
margin-top: 2em;
width:75%;
padding: 1em 1em;
box-shadow: 0 0 3px 0 #E2B4BD;
background-color: #fff;
margin-top: 3em;
opacity: 0.9;
margin-bottom: 2em;
}

img{
  width: 50%;
  height: auto;
}

.sweets{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 1.5em;
  padding-top: 1em;
}

.subtitle{
font-size: 1.5em;
font-family: 'Comfortaa', cursive;
font-weight:bold;
text-align: center;
padding: 0;
margin-top: 25px;
margin-bottom: 4px;
color:#C96A85;
text-transform: uppercase;
}

.coming_soon{
font-size: 1.20em;
font-family: 'Comfortaa', cursive;
color:#000;
text-align: center;
padding-top: 2em;
padding-bottom: 2em;
}

/*span{
    font-weight: bolder;
}*/

body {
  font-family: 'Comfortaa', cursive;
  background-image: url("../images/bread_bg.png");
  background-repeat: repeat;
  background-position: bottom; 
}


#footer {
  color: #fff;
  background-color: #8D6163;
  font-size: 1rem;  /* consider using rem rather than em for responzive pages*/
  font-family: 'Comfortaa', cursive;
  position: static;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .3rem;
  text-align: center;
  width: 100%;
  display: inline-block;
}

#copy {
  font-size: .80em;
  padding-top: .25em;
  padding-bottom: .25em;
}
